body {
    width: 100%;
    height: auto;
    margin: 3px;
    padding: 3px 15px;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    width: 92%;
    height: auto;
    flex-direction: column;
    align-items: center;

}

h1 {
    display: flex;
    justify-content: center;
    font-size: clamp(1.5rem, 4vw, 4rem);
}

h2 {
    display: flex;
    justify-content: left;
    font-size: x-large;
    font-size: clamp(1.2rem, 2vw, 2rem);
}

h3 {
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-size: clamp(1.5rem, 2vw, 2rem);
}


.menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "Accueil Incrire Connecter Profil Jouer";
    padding-left: 0;
    font-size: clamp(0.8rem, 3vw, 3rem);
}

.Accueil {
    grid-area: Accueil;
    justify-self: center;
}

.Inscription {
    grid-area: Incrire;
    justify-self: center;
}

.Connexion {
    grid-area: Connecter;
    justify-self: center;
}

.Profil {
    grid-area: Profil;
    justify-self: center;
}

.Jouer {
    grid-area: Jouer;
    justify-self: center;
}

a li {
    list-style: none;
}

.box {
    border-radius: 10px;
    background-color: rgba(50, 50, 50, 25%);
    margin: 1%;
    padding: 2%;
    font-size: clamp(1rem, 2.5vw, 2rem);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    width: 100%;
}

form, fieldset {
    max-width: 900px;
}

.formIns, .formCon, .profCon {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}


.global {
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: center;
}

li.regles {
    list-style: circle;
}

.titreBox {
    display: flex;
    justify-content: center;
}


.name, .email, .connect, .confirmPW {
    min-width: 0;
    display: grid;
    margin: 0 2%;
    padding: 2px;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 3vh);
    gap: 5px 4px;
    grid-template-areas:
        "titre titre titre titre titre titre titre titre titre titre titre titre titre titre titre titre titre titre titre titre titre . . ."
        "entree entree entree entree entree entree entree entree entree entree entree entree entree entree entree entree entree entree entree entree entree valide valide valide"
        "com com com com com com com com com com com com com com com com com com com com com . . ."
}

.password {
    min-width: 0;
    display: grid;
    margin: 0 2%;
    padding: 2px;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 3vh) 1vh 1.5vh;
    gap: 5px 4px;
    grid-template-areas:
        "titre titre titre titre titre titre titre titre titre titre titre titre titre titre titre titre titre titre titre titre titre . . ."
        "entree entree entree entree entree entree entree entree entree entree entree entree entree entree entree entree entree entree entree entree entree valide valide valide"
        "com com com com com com com com com com com com com com com com com com com com com . . ."
        ". . rouge rouge rouge rouge . . . . orange orange orange orange . . . . vert vert vert vert . ."
        ". . faible faible faible faible . . . . moyen moyen moyen moyen . . . . fort fort fort fort . .";
}

label {
    grid-area: titre;
    font-size: clamp(0.9rem, 1vw, 1.5rem);
}

input {
    border: 0;
    height: 5vh;
    grid-area: entree;
    font-size: clamp(0.8rem, 1vw, 1.3rem);
}

span.valide {
    min-width: 75px;
    justify-items: center;
    align-items: center;
    grid-area: valide;
}

.couleur#fai {
    visibility: hidden;
    grid-area: rouge;
    font-size: 3px;
    color: red;
    background-color: red;
}

.couleur#moy {
    visibility: hidden;
    grid-area: orange;
    font-size: 3px;
    color: orange;
    background-color: orange;
}

.couleur#for {
    visibility: hidden;
    grid-area: vert;
    font-size: 3px;
    color: green;
    background-color: green;
}

.niveau#faible {
    visibility: hidden;
    justify-self: center;
    grid-area: faible;
    color: red;
}

.niveau#moyen {
    visibility: hidden;
    justify-self: center;
    grid-area: moyen;
    color: orange;
}

.niveau#fort {
    visibility: hidden;
    justify-self: center;
    grid-area: fort;
    color: green;
}

p {
    grid-area: com;
    font-size: clamp(0.8rem, 1vw, 1.3rem);
}

.mandatory {
    display: flex;
    justify-content: center;
    font-size: clamp(0.8rem, 1vw, 1rem);
}

.bouton {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-around;
}

.submit, .reset {
    border-radius: 5px;
    border: 1px;
    border-style: dotted;
    width: 30%;
    height: 5vh;
    margin: 0;
    padding: 0;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center
}

.choix, .taille {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

select {
    width: 100%;
    height: 4vh;
    margin: 1%;
    font-size: clamp(0.5rem, 2vw, 2rem);
}

.rules {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: clamp(1.2rem, 1vw, 2rem);
    flex-wrap: wrap;
    align-items: center;
}

.rul {
    height: 1vh;
    font-size: clamp(0.8rem, 2vw, 3rem);
}

table {
    width: 100%;
    height: auto;

}

.size {
    width: 100%;
    height: 100%;
    object-fit: contain;

}


tbody {
    grid-template-rows: auto;
    gap: 1%;
    justify-content: center;

}

tr {
    display: flex;
    justify-content: center;
}

td {
    position: relative;
    display: flex;
    width: 25%;
    height: 15vh;
    grid-template-columns: auto;
    gap: 1%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin: 2px;
    padding: 1px;
}