:root {
  --color-chiens1: #b6e8f5ff;
  --color-chiens2: #7bc4d7;
  --color-chiens3: #00222b;
  --color-chiens4: #182a2eff;
  --color-chiens5: #68797d;

  --color-dino1: #c1f8d1ff;
  --color-dino2: #063620ff;
  --color-dino3: #021608ff;
  --color-dino4: #063620ff;
  --color-dino5: #2d3335ff;

  --color-ferme1: #faecd2ff;
  --color-ferme2: #1f1304ff;
  --color-ferme3: #f2ede8;

  --color-savane1: #fff6e5;
  --color-savane2: #9d7c3f;
  --color-savane3: #725a2e;
  --color-savane4: #392c14;

  /*to do thème par défaut*/
}

/*thème chiens = redéfinitions des couleurs*/

.chiens .Accueil,
.chiens .Inscription,
.chiens .Connexion,
.chiens .Profil,
.chiens .Jouer {
  mix-blend-mode: screen;
  color: var(--color-chiens1);
}
.chiens h1 {
  color: var(--color-chiens1);
}
.chiens .box,
.chiens .formIns,
.chiens .formCon,
.chiens .confirmPW,
.chiens .xxx {
  color: var(--color-chiens2);
}

.chiens .foot,
.chiens .fofo,
.chiens .footer span {
  color: var(--color-chiens3);
}
.chiens .mandatory {
  color: var(--color-chiens4);
}
.chiens #nom,
.chiens #mail {
  color: var(--color-chiens5);
}
.chiens .lien {
  background-color: rgba(191, 237, 248, 0.6);
  backdrop-filter: blur(2px);
  box-shadow: 0px 0px 20px 5px var(--color-chiens1);
}

/*thème dino = redéfinitions des couleurs*/

.dino .Accueil,
.dino .Inscription,
.dino .Connexion,
.dino .Profil,
.dino .Jouer {
  mix-blend-mode: screen;
  color: var(--color-dino1);
}
.dino h1 {
  color: var(--color-dino1);
}

.dino .box,
.dino .formIns,
.dino .formCon,
.dino .xxx {
  color: var(--color-dino3);
}

.dino .mandatory {
  color: var(--color-dino4);
}
.dino #nom,
.dino #mail,
.ferme #nom,
.ferme #mail {
  color: var(--color-dino5);
}

/*thème ferme = redéfinitions des couleurs*/

.ferme .Accueil,
.ferme .Inscription,
.ferme .Connexion,
.ferme .Profil,
.ferme .Jouer {
  mix-blend-mode: screen;
  color: var(--color-ferme1);
}

.ferme .h1 {
  color: var(--color-ferme1);
}
.ferme .box,
.ferme .formIns,
.ferme .formCon,
.ferme .confirmPW,
.ferme .xxx {
  color: var(--color-ferme2);
}

.ferme .foot,
.ferme .fofo {
  color: var(--color-ferme3);
}

.ferme .footer span {
  color: black;
}

.ferme .mandatory {
  color: wheat;
}

/*thème savane = redéfinitions des couleurs*/
.savane .h1 {
  color: var(--color-savane1);
}

.savane .Accueil,
.savane .Inscription,
.savane .Connexion,
.savane .Profil,
.savane .Jouer {
  mix-blend-mode: multiply;
  color: var(--color-savane3);
}

.savane .box,
.savane .formIns,
.savane .formCon,
.savane .confirmPW,
.savane .xxx,
.savane .foot,
.savane .fofo,
.savane .footer span,
.savane .mandatory {
  color: var(--color-savane4);
}

/* Mise en forme générale */
#body {
  background-image: url("../images/fonddecran/savane.png");
  background-attachment: fixed;
  background-size: 100vw, 100vh;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

main {
  display: flex;
  width: 100%;
  height: auto;
  min-height: 82vh;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

header {
  position: relative;
}

/* Titre de la page */
h1 {
  color: #fff6e5;
  display: flex;
  justify-self: center;
  font-size: clamp(2rem, 0.3vw + 1.5rem, 3rem);
  margin: 5px 0 0 0;
  mix-blend-mode: lighten;
}
/* Bouton de déconnexion */
.reset2 {
  position: absolute;
  top: 5px;
  right: 15px;
  border-radius: 5px;
  justify-self: end;
  border: 1px solid rgb(184, 130, 31);
  background-color: #e7bb69;
  width: fit-content;
  height: 5vh;
  margin: 8px 0;
  padding: 0 5px;
}

/* Titre dans les box et form */
h2 {
  display: flex;
  justify-content: left;
  font-size: x-large;
  font-size: clamp(1rem, 1vw + 1rem, 2rem);
  margin: 8px 0;
  mix-blend-mode: multiply;
}
/* Titre des tableaux de scores */
h3 {
  display: flex;
  justify-content: center;
  font-size: x-large;
  font-size: clamp(1.4rem, 0.3vw + 1rem, 2rem);
  margin: 5px 0;
}
/* Titre dans le footer */
h4 {
  margin: 5px 0;
  font-size: clamp(0.8rem, 0.5vw + 0.6rem, 1rem);
}

/* Mise en forme navbar */
.menu {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "Accueil Incrire Connecter Profil Jouer";
  padding-left: 40px;
  font-size: clamp(0.8rem, 1vw + 0.5rem, 2.5rem);
  margin: 10px 0;
}

.Accueil {
  grid-area: Accueil;
  display: grid;
  justify-self: center;
  padding: 5px 20px;
}

.Inscription {
  grid-area: Incrire;
  justify-self: center;
  padding: 5px 20px;
}

.Connexion {
  grid-area: Connecter;
  justify-self: center;
  padding: 5px 20px;
}

.Profil {
  grid-area: Profil;
  justify-self: center;
  padding: 5px 20px;
}

.Jouer {
  grid-area: Jouer;
  justify-self: center;
  padding: 5px 20px;
}

a li {
  list-style: none;
  color: #725a2e;
  mix-blend-mode: darken;
}

/* Mise en forme générale des box */
.box {
  color: #392c14;
  border-radius: 10px;
  background: transparent;
  border: 1px solid rgb(184, 130, 31);
  backdrop-filter: blur(5px);
  margin: 0.5%;
  padding: 1%;
  font-size: clamp(0.5rem, 1vw + 0.7rem, 1.5rem);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 10px 30px #9d7c3f;
}

ul {
  margin: 8px;
}

/*bottom des boxes */
.foot {
  color: #392c14;
  mix-blend-mode: multiply;
}

/* Mise en forme générale des form */
form,
fieldset {
  max-width: 500px;
  min-width: 350px;
  min-height: 300px;
  margin: 0;
  padding: 0;
  border-radius: 20px;
  border: 1px solid rgb(184, 130, 31);
  backdrop-filter: blur(5px);
  box-shadow: 0 10px 30px #9d7c3f;
}

/* séparation des 2 parties form & score dans profil */
.binome {
  display: flex;
  gap: 50px;
}

/* Mise en forme spécifique des tableaux de scores */
.ScorePlayer {
  max-width: 350px;
  min-width: 300px;
  min-height: auto;
  margin: 0;
  padding: 3px;
  border-radius: 10px;
  border: 1px solid rgb(184, 130, 31);
  backdrop-filter: blur(5px);
  box-shadow: 0 10px 30px #9d7c3f;
}

/* Positionnement des sous parties des form */
.formIns,
.formCon,
.profCon {
  color: #20190a;
  display: grid;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  justify-content: center;
}

.global {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: center;
}

li.regles {
  list-style: circle;
}

.titreBox {
  display: flex;
  justify-content: center;
}

.name,
.email,
.connect,
.confirmPW {
  min-width: 0;
  display: grid;
  margin: 0 2%;
  padding: 2px;
  align-items: center;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(3, 3vh);
  gap: 5px 4px;
  grid-template-areas:
    "titre titre titre titre titre titre titre titre titre titre titre titre titre titre titre titre titre titre titre titre titre titre titre titre"
    "entree entree entree entree entree entree entree entree entree entree entree entree entree entree entree entree entree entree entree entree entree entree entree valide"
    "com com com com com com com com com com com com com com com com com com com com com com com com";
}

.password {
  min-width: 0;
  display: grid;
  margin: 0 2%;
  padding: 2px;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 3vh) 1vh 1.5vh;
  gap: 5px 4px;
  grid-template-areas:
    "titre titre titre titre titre titre titre titre titre titre titre titre titre titre titre titre titre titre titre titre titre . . ."
    "entree entree entree entree entree entree entree entree entree entree entree entree entree entree entree entree entree entree entree entree entree entree entree valide"
    "com com com com com com com com com com com com com com com com com com com com com com com com"
    "com com com com com com com com com com com com com com com com com com com com com com com com"
    ". . rouge rouge rouge rouge . . . . orange orange orange orange . . . . vert vert vert vert . ."
    ". . faible faible faible faible . . . . moyen moyen moyen moyen . . . . fort fort fort fort . .";
}

/* Mise en forme générale des label */
label {
  grid-area: titre;
  font-size: clamp(0.9rem, 0.1vw + 1rem, 1.5rem);
  padding: 2px;
}
/* Mise en forme générale des input */
input {
  background: transparent;
  outline: none;
  border: 0;
  border-radius: 5px;
  height: 3vh;
  grid-area: entree;
  font-size: clamp(0.8rem, 0.1vw + 1rem, 1.3rem);
  padding: 4px;
}

input::placeholder {
  color: beige;
  font-style: italic;
}

input:hover {
  border: 1px dotted #daa440;
  box-shadow: 0 5px 15px #9d7c3f;
}
input:focus {
  outline-style: 1px solid;

  border: 1px solid#daa440;
  box-shadow: 0 5px 15px #e7bb69;
}

/* 
Gestion de la partie responsive du remplissage des input dans inscription.html */
span.valide {
  min-width: 30px;
  justify-items: center;
  align-items: center;
  grid-area: valide;
}

.couleur#fai {
  visibility: hidden;
  grid-area: rouge;
  font-size: 3px;
  color: red;
  background-color: red;
}

.couleur#moy {
  visibility: hidden;
  grid-area: orange;
  font-size: 3px;
  color: orange;
  background-color: orange;
}

.couleur#for {
  visibility: hidden;
  grid-area: vert;
  font-size: 3px;
  color: green;
  background-color: green;
}

.niveau#faible {
  visibility: hidden;
  justify-self: center;
  grid-area: faible;
  color: red;
}

.niveau#moyen {
  visibility: hidden;
  justify-self: center;
  grid-area: moyen;
  color: orange;
}

.niveau#fort {
  visibility: hidden;
  justify-self: center;
  grid-area: fort;
  color: green;
}

/* phrase sous les inputs */
p {
  grid-area: com;
  font-size: clamp(0.8rem, 0.1vw + 1rem, 1.3rem);
  margin: 0;
  padding: 2px;
}

/* bottom du formulaire d'inscription */
.mandatory {
  display: flex;
  justify-content: center;
  font-size: clamp(0.8rem, 0.1vw + 1rem, 1rem);
}

/* boutons :  submit et reset */
.bouton {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: space-around;
}

.submit,
.reset {
  border-radius: 5px;
  border: 1px solid rgb(184, 130, 31);
  background-color: #e7bb69;
  width: 30%;
  height: 5vh;
  margin: 10px 0;
  padding: 0;
}

/* entete dans profil */
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  mix-blend-mode: multiply;
}

/* select dans profil */
.choix,
.taille {
  display: flex;
  flex-direction: column;
  align-items: center;
}

select {
  width: 80%;
  height: 4vh;
  margin: 5px;
  padding: 0px;
  align-self: center;
  font-size: clamp(0.5rem, 0.1vw + 1rem, 2rem);
}

/* regles du jeu dans index.html */
.rules {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: clamp(0.8rem, 0.1vw + 1rem, 1.5rem);
  flex-wrap: wrap;
  align-items: center;
}
/* regles du jeu dans play.html */
.rules2 {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: clamp(0.8rem, 0.1vw + 1rem, 1.5rem);
  flex-wrap: wrap;
  align-items: center;
}
/* sous parties */
.rul {
  height: auto;
  font-size: clamp(0.8rem, 2vw, 3rem);
}
.rul2 {
  margin: 2px 0;
  padding: 0;
  height: auto;
  font-size: clamp(1rem, 1vw, 1.2rem);
}

/* Mise en forme générale des tableaux */
table {
  width: 100%;
  height: auto;
}

.size {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

tbody {
  grid-template-rows: auto;
  gap: 1%;
  justify-content: center;
}

tr {
  display: flex;
  justify-content: center;
}

td {
  position: relative;
  display: flex;
  width: 25%;
  height: 15vh;
  grid-template-columns: auto;
  gap: 1%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin: 2px;
  padding: 1px;
}

/* Gestion du rendu des liens */
a {
  outline: none;
  text-decoration: none;
}
a:link {
  color: #116372;
  text-decoration: none;
}
a:visited {
  color: #116372;
  text-decoration: none;
}

a:focus {
  border-bottom: 1px solid;
  background: transparent;
}

a:hover {
  border-radius: 10px;
  box-shadow: 0 10px 30px #dbf0f5;
}

a:active {
  border-radius: 10px;
  box-shadow: 0 10px 30px #dbf0f5;
  border-bottom: 1px solid;
  background: transparent;
  backdrop-filter: blur(15px);
  transform: scale(110%);
}

/* Gestion du lien spécifique "formulaire" dans l'index.html*/
.fofo {
  color: #392c14;
}
.fofo:link {
  color: rgb(184, 130, 31);
  text-decoration: none;
}
.fofo:visited {
  color: rgb(184, 130, 31);
  text-decoration: none;
}

.fofo:hover {
  border-radius: 10px;
  box-shadow: 0 10px 30px rgb(184, 130, 31);
}

.fofo:active {
  border-radius: 10px;
  box-shadow: 0 10px 30px rgb(184, 130, 31);
  border-bottom: 1px solid;
  background: transparent;
  backdrop-filter: blur(15px);
  transform: scale(105%);
}

#caption {
  text-decoration: underline;
}

.cell {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  width: auto;
  height: auto;
  border-radius: 2px;
  margin: 0;
  padding: 1px;
}
.cellTD {
  border-radius: 2px;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  border: 1px solid rgb(184, 130, 31);
}
th {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 85%;
  font-weight: bold;
}
.sepTab {
  margin: 3px 0;
}
/* fin */

/* Mide en page du footer et des ses sous parties */
.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  height: 25px;
  font-size: clamp(0.8rem, 0.3vw + 0.8rem, 1.2rem);
  mix-blend-mode: multiply;
  backdrop-filter: blur(10px);
}

footer span,
footer span p {
  margin: 2px;
  font-size: clamp(0.7rem, 0.35vw + 0.5rem, 1.2rem);
}
footer ul {
  padding-inline-start: 10px;
}
hr {
  margin: 0 0 8px 0;
  border-style: none;
}
ul ul {
  padding-inline-start: 10px;
}
.projet {
  border: 1px solid black;
  width: 95%;
  height: auto;
  display: block;
  flex-direction: column;
  justify-content: flex-start;
}
.titreBox {
  margin: 0;
  padding: 2px;
}
.contenuBox {
  margin: 0;
  padding: 2px;
}

.underline {
  text-decoration: underline;
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
/* fin */

/* Gestion des modales */
dialog {
  border: none;
  padding: 10px;
  border-radius: 1rem;
  max-width: 380px;
  width: 90%;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

dialog::backdrop {
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.35);
}
dialog button {
  display: flex;
  justify-self: center;
}
/* fin */

/* Lien vers linkedin et Github */
.lien {
  position: absolute;
  top: 5px;
  right: 150px;
  margin: 8px;
}
.lien img {
  width: 2vw;
}
/* Gestion de l'orientation portrait */
@media (orientation: portrait) {
  /* On cache l'écran */
  body {
    overflow: hidden !important;
  }

  .landscape-only {
    display: none;
  }
  /* appel de la div invitant à passer en paysage */
  .rotate-message {
    position: fixed;
    inset: 0;
    background: #000;
    color: #fff;
    display: flex !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 9999;
    font-size: 1.3rem;
  }
}

/* Gestion de l'orientation portrait */
@media (orientation: landscape) {
  /* on supprime la div invitant à passer en paysage */
  .rotate-message {
    display: none;
  }
}

/* on force la mise en ligne des scores dans le profil si écran d'ordinateur */
@media screen and (min-width: 971px) {
  .binome {
    flex-direction: row;
  }
}
/* on force la mise en colonne des scores dans le profil si écran de smartphone */
@media screen and (max-width: 970px) {
  .binome {
    flex-direction: column;
    align-items: center;
  }

  /* Les liens réseaux sociaux basculent à gauche de l'écran */
  .lien {
    left: 50px;
  }
}
